---

---
<div class="relative top-80 p-5 text-2xl w-100 justify-self-center">
    <img class="w-32 h-32 justify-self-center relative bottom-10 rounded-lg" src="https://i.pinimg.com/1200x/3c/5d/a0/3c5da0ae45613c4b5e8add85b918cf46.jpg" alt="perfil">
	<h1 class="text-center">𖤐 NICOLAS ROJAS CORTES 𖤐</h1>
</div>
	